// colors

// main colors
$BLACK: #000000;
$MAIN: #2d5eaa; // 메인칼라
$BLUE-SUB: #3d5f93; // 메뉴 선택시, 서브버튼,stroke, icon
$WHITE: #ffffff;
$BACKCOLOR: #fffbfd;

// GRAY
$GRAY-43: #434141;
$GRAY-3A: #3a3a3a;
